// This is used on multiple pages, this displays how roles, timeframe, application, and deliverables
.info{
    display: flex;
    justify-content: space-between;
    @media (max-width: 1023px) {
        flex-direction: column;
        div{
            // border-bottom: 1px solid white;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}

.short_info{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    @media (max-width: 760px){
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid layout */
        gap: 1rem;

        text-align: center; /* Centers the text inside each grid item */

    }
}



// // This is used on multiple pages, this displays the team members in the group.
.team{
    display: flex;
    justify-content: space-around;
    h4{
        text-align: center;
    }
    p{
        text-align: center;
    }

    @media screen and (max-width: 735px) {
        flex-direction: column;
    }
}

// about page styling
.green{
    color: #18ff18;
    font-weight: 450;
}

.emoji{
    font-size: 2rem;
}

.green_no_bold{
    color: #18ff18;
}

.highlight_text{
    color: #FFD700;
}
.highlight_text_bold{
    color: #FFD700;
    font-weight: 450;
}


.bold{
    font-weight: bold;
}