.under_caption{
    margin-top: 1rem;
}

.line_break{
    margin-bottom: 4rem;
}

.title{
    margin-top: 0;
    margin-bottom: 2rem;
}

.under_title{
    margin-top: 2rem;
}

.small_line_break {
    margin-bottom: 2rem;
}