
.swiperjs {
    margin: 100px auto;
    width: 100%;
}

/* Removed height definition from .swiper */

.swiper-slidejs {
display: flex;
align-items: center;
justify-content: center;
font-size: 22px;
font-weight: bold;
color: #fff;
}

.swiper-slidejs img {
/* Added styles for the image */
width: 100%;
height: auto;
object-fit: cover; /* Ensures image fills container while maintaining aspect ratio */
}